<nav class="header-menu" id="headerMenu">
    <ul class="header-menu__items">
        <li class="header-menu__item">
            <a id="nearby" class="header-menu__link" href="#" target="_blank"
                >People nearby</a
            >
        </li>
        <li class="header-menu__item">
            <a id="search" class="header-menu__link" href="#" target="_blank"
                >Search</a
            >
        </li>
        <li class="header-menu__item">
            <button id="sendRequest" class="button button--icon button--dark">
                Premium
                <svg
                    class="button__icon"
                    viewBox="0 0 18 18"
                    width="18"
                    height="18"
                >
                    <use href="img/sprites/sprite.svg#icn-diamond"></use>
                </svg>
            </button>
        </li>
    </ul>
</nav>
