$color-wrap: #C0DBD9;
$color-blue: #7FAFF6;
$color-white: #FFFFFF;
$color-light-blue: #A5C7F9;
$color-light-green: #B3F95A;
$color-green: #8AD191;
$color-dark-blue: #88B5BF;
$color-deep-blue: #0D89B0;