.button {
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &__icon {
        stroke: $color-yellow;
    }

    &--dark {
        background-color: $color-dark-violet;
        color: $color-yellow;

        &:hover {
            background-color: #6e4c7d;
        }
    }

    &--icon {
        padding: 6px 13px;
        border-radius: 10px;
        gap: 10px;
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
    }
}
