.main {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 20px 20px;
  overflow: hidden;
  flex: 1;

  &__caption {
    font-family: $font-family;
    font-weight: 700;
    font-size: 20px;
    color: $color-black;
    margin: 0;
    margin-bottom: 23px;

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $color-violet;
      opacity: 0.2;
      margin-top: 10px;
    }
  }

  & .button {
    margin-top: 43px;
  }

  & .terms {
    margin-top: 15px;
  }

  & .functions {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 900px) {
  .main {
    padding: 15px 0px 20px 0px;
  }
}
