<div class="slider" role="region" aria-label="Паттерны">
    <div class="controls" role="group" aria-label="Управление слайдами">
        <button
            class="controls__button button-radio"
            type="button"
            aria-current="true"
            aria-label="Показать 1 из 6"
        ></button>
        <button
            class="controls__button button-radio"
            type="button"
            aria-label="Показать 2 из 6"
        ></button>
        <button
            class="controls__button button-radio"
            type="button"
            aria-label="Показать 3 из 6"
        ></button>
        <button
            class="controls__button button-radio"
            type="button"
            aria-label="Показать 4 из 6"
        ></button>
        <button
            class="controls__button button-radio"
            type="button"
            aria-label="Показать 5 из 6"
        ></button>
        <button
            class="controls__button button-radio"
            type="button"
            aria-label="Показать 6 из 6"
        ></button>
    </div>

    <div class="slides" aria-live="polite">
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">50</span>
                    /
                    <span class="card__price-two">$5</span>
                </div>
            </div>
        </div>
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">150</span>
                    /
                    <span class="card__price-two">$25</span>
                </div>
            </div>
        </div>
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">350</span>
                    /
                    <span class="card__price-two">$35</span>
                </div>
            </div>
        </div>
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">550</span>
                    /
                    <span class="card__price-two">$50</span>
                </div>
            </div>
        </div>
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">150</span>
                    /
                    <span class="card__price-two">$25</span>
                </div>
            </div>
        </div>
        <div
            class="slide"
            role="group"
            aria-labelledby="item-1-label"
            id="carousel-item-1"
        >
            <div class="card">
                <div class="card__badge">One time offer!</div>
                <div class="card__price-wrap">
                    <span class="card__price-one">250</span>
                    /
                    <span class="card__price-two">$25</span>
                </div>
            </div>
        </div>
    </div>
</div>
