.controls {
  display: flex;
  gap: 8px;

  &__button {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    // border: 1px solid $color-yellow;
    background-color: $color-yellow;

    & + .controls__button {
      //   margin-inline-start: 12px;
    }
    &.active {
      background-color: $color-violet;
      //   background: 1px solid $color-violet;
      pointer-events: none;
    }

    &:focus-visible {
      outline: 3px solid $color-yellow;
      outline-offset: -1px;
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  &__controls {
    margin-top: 8px;
  }
  &__list {
    inline-size: 100%;
  }

  &__item {
    display: none;
    text-align: center;
  }

  &__item--active {
    display: block;
    animation: 0.5s alternate slide-in;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}
