<aside class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__header-wrap">
            <span class="sidebar__icon">
                <img src="img/img-profile.png" alt="profile" />
            </span>
            <span class="sidebar__header-text">
                <span>Test2412</span>
                <button id="sendRequest" class="button button--type3">
                    GET PREMIUM
                </button>
            </span>
        </div>
    </div>
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <span class="sidebar__item-icn">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-cam"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Profile </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-cam"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> My photos </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-comment"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Messages </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-heart"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Favorites </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-eye"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Guests </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-settings"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Settings </a>
        </li>
        <li class="sidebar__item">
            <span class="sidebar__item-photo">
                <svg viewBox="0 0 18 18" width="18" height="18">
                    <use href="img/sprites/sprite.svg#icn-exit"></use>
                </svg>
            </span>
            <a href="#" class="sidebar__item-text"> Log out </a>
        </li>
    </ul>
</aside>
