.sidebar {
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: rgb(149, 100, 170, 0.1);
  border: solid 1px rgb(149, 100, 170, 0.2);
  border-radius: 10px;
  max-width: 270px;
  width: 100%;
  padding: 18px;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  &__header {
    &-wrap {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $color-violet;
      opacity: 0.2;
      margin-top: 10px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 5;
      font-family: $font-family;
      font-weight: 700;
      font-size: 16px;
      color: #000;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    &-text {
      text-decoration: none;
      font-family: $font-family;
      font-weight: 400;
      font-size: 16px;
      color: #000;
    }

    &-icn {
      display: flex;
      align-items: center;
    }
  }
}
